@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #0f131a;
  --color-foreground: #f8fafc;
  --color-primary: #1d8cf8;
  --color-primary-hover: #1e86ec;
  --color-card: #18202b;
  --color-border: #2a3441;
  --color-muted: #8b9bb4;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased min-h-screen flex flex-col;
  }
}